body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: var();
  font-size: 14px;
  line-height: 1.71;
}

body.modal-open {
  overflow: hidden;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --dark-bg-color: #2f303a;
  --secondary-accent-color: #188ce8;
  --bg-hero: #c4c4c4;
  --regulars-clients-color: #afb1b8;
  --about-product-bg-color: rgba(47, 48, 58, 0.8);
  --overlay-bg-color: rgba(33, 150, 243, 0.9);
  --secondary-text-color: rgba(255, 255, 255, 0, 6);
  --backdrop-bg-color: rgba(0, 0, 0, 0.2);
  --card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --card-set-gap: 30px;
  --btn-hover-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --card-set-hover-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--no-padding-top {
  padding-top: 0;
  display: none;
}
@media screen and (min-width: 1200px) {
  .section--no-padding-top {
    display: block;
  }
}

.section__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--tittle-text-color);
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1666666667;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}

.section--other-background {
  background-color: var(--secondary-bg-color);
}

.logo {
  display: block;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.1741666667;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.1923076923;
    letter-spacing: 0.03em;
  }
}

.logo__black {
  color: var(--title-text-color);
}

.logo__white {
  color: var(--primary-bg-color);
}

.btn {
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .btn {
    width: 216px;
  }
}

.btn--centered {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-list {
  display: flex;
  justify-content: center;
}

.socials-list__item {
  width: 44px;
  height: 44px;
}
.socials-list__item:not(:first-child) {
  margin-left: 10px;
}

.socials-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #afb1b8;
}
.socials-list__link:hover, .socials-list__link:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

.socials-list__icon {
  fill: currentColor;
}

.socials-list__link--inverse {
  color: var(--primary-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-container {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px 48px 40px;
  background-color: var(--primary-bg-color);
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-container .menu-wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle:hover, .menu-toggle:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-icon {
  fill: currentColor;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-nav__item:first-child {
  margin-bottom: 35.71px;
}
.menu-nav__item:nth-child(2n) {
  margin-bottom: 32px;
}

.menu-nav__link {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-nav__link:hover, .menu-nav__link:focus {
  color: var(--accent-color);
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts__link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.menu-contacts__link--blue {
  color: var(--accent-color);
  font-size: 34px;
  font-weight: 500;
  line-height: 1.1764705882;
  letter-spacing: 0.02em;
}

.menu-socials {
  display: flex;
  margin-top: 64px;
}

.menu-socials__item:not(:last-child)::after {
  content: "";
  width: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
  margin-right: 10px;
}

.menu-socials__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px 94px 15px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  background-color: var(--primary-bg-color);
  padding: 40px;
  height: 609px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 450px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;
  }
}

.modal__close-button {
  position: absolute;
  top: 101px;
  right: 23px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover, .modal__close-button:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .modal__close-button {
    top: 8px;
    right: 8px;
  }
}

.close-button__icon {
  fill: currentColor;
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .modal__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.03em;
  }
}

.modal-form__field {
  margin-bottom: 10px;
}
.modal-form__field-text {
  margin-bottom: 25px;
}
.modal-form__field-checkbox {
  margin-bottom: 30px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: 0;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  border-color: var(--accent-color);
}
.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__wrap {
  position: relative;
  display: block;
}

.modal-form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-form__label {
  font-size: 12px;
  line-height: 1.1716666667;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}

.modal-form__text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  display: block;
}
.modal-form__text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__label-checkbox {
  color: #757575;
  font-size: 12px;
  line-height: 1.1716666667;
  letter-spacing: 0.03em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__label-checkbox > span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8.38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form__checkbox:checked + .modal-form__label-checkbox > span {
  background-color: var(--accent-color);
  border: none;
}

.modal-form__link {
  color: var(--accent-color);
  margin-left: 5px;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
  padding-top: 9.5px;
  padding-bottom: 9.5px;
}
@media screen and (min-width: 768px) {
  .page-header {
    padding: 0;
  }
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .page-header__container {
    justify-content: flex-start;
  }
}

.page-nav {
  display: none;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .page-nav {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .page-nav {
    margin-left: 93px;
  }
}

.page-nav__item + .page-nav__item {
  margin-left: 50px;
}

.page-nav__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.page-nav__link:hover, .page-nav__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .page-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.page-nav__link--current {
  color: var(--accent-color);
  position: relative;
}
.page-nav__link--current::after {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: var(--accent-color);
  left: 0;
  bottom: -1px;
  border-radius: 2px;
}

.header-contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: flex;
    flex-direction: row;
    margin-left: 315px;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts__item + .header-contacts__item {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__item + .header-contacts__item {
    margin-left: 30px;
    margin-top: 0;
  }
}

.header-contacts__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  font-weight: 500;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-contacts__link:hover, .header-contacts__link:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .header-contacts__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1428571429;
    letter-spacing: 0.02em;
  }
}

.header-contacts__icon {
  fill: currentColor;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .header-contacts__icon {
    margin-right: 10px;
  }
}

.hero {
  max-width: 1600px;
  background-color: var(--bg-hero);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin: 0 auto;
}
@media screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tablet-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-desk-1x.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-desk-2x.jpg);
  }
}

.hero-title {
  color: var(--primary-bg-color);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.3636363636;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    display: flex;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .features__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.features__container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  background-color: var(--secondary-bg-color);
}
@media screen and (min-width: 768px) {
  .features__container {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .features__container {
    width: 270px;
  }
}

.features__title {
  color: var(--tittle-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.about {
  display: flex;
}

.about__item {
  position: relative;
}
.about__item:not(:first-child) {
  margin-left: 30px;
}

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: var(--about-product-bg-color);
}

.about__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-bg-color);
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    flex-wrap: nowrap;
  }
}

.team__item {
  box-shadow: var(--card-shadow);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
    margin-top: 0;
  }
}

.team__container {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-bg-color);
}

.team__title {
  color: var(--tittle-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients {
    flex-wrap: nowrap;
  }
}

.clients__item {
  height: 92px;
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color, background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  color: var(--regulars-clients-color);
  border: 1px solid var(--regulars-clients-color);
  border-radius: 4px;
}
.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);
}

.footer__container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.adress {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .adress-container {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .adress-container {
    text-align: left;
    flex-grow: 1;
  }
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.adress__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}
.adress__link:hover, .adress__link:focus {
  color: var(--accent-color);
}
.adress__link--white {
  color: var(--primary-bg-color);
}
@media screen and (min-width: 768px) {
  .adress__link {
    text-align: center;
  }
}

.footer-socials-container {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer-socials-container {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-socials-container {
    margin-left: 70px;
  }
}

.footer-socials-container__text {
  color: var(--primary-bg-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .footer-socials-container__text {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-socials-container__text {
    text-align: left;
  }
}

.subscription {
  margin-top: 60px;
}
@media screen and (min-width: 1200px) {
  .subscription {
    margin-top: 0;
    margin-left: 93px;
  }
}

.subscription__text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}
@media screen and (min-width: 768px) {
  .subscription__text {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__text {
    text-align: left;
  }
}

.subscription__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .subscription__container {
    flex-direction: row;
  }
}

.subscription__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .subscription__button {
    margin-top: 0;
    margin-left: 12px;
    width: 200px;
  }
}

.subscription__input {
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: var(--primary-bg-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border-radius: 4px;
  padding: 15px 16px;
  width: 100%;
  outline: none;
}
.subscription__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 768px) {
  .subscription__input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
  }
}

.subscription__icon {
  margin-left: 10px;
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 480px) {
  .filters-list {
    flex-wrap: wrap;
    max-width: 334px;
    justify-content: flex-start;
  }
}

.filters-list__item:not(:first-child) {
  margin-left: 8px;
}
@media screen and (max-width: 480px) {
  .filters-list__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
  .filters-list__item:nth-child(4) {
    margin-left: 0;
  }
}

.filters-list__button {
  width: 100%;
  height: 38px;
  padding: 6px 22px;
  cursor: pointer;
  color: var(--tittle-text-color);
  background-color: var(--secondary-bg-color);
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filters-list__button:hover, .filters-list__button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  box-shadow: var(--btn-hover-shadow);
}

@media screen and (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (max-width: 767px) {
  .card-set__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .card-set__item {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .card-set__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.card-set__link {
  display: block;
  position: relative;
  transition-property: box-shadow, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__link:hover, .card-set__link:focus {
  box-shadow: var(--card-set-hover-shadow);
  border: 0;
}

.card-wrap {
  position: relative;
  overflow: hidden;
}

.card-wrap__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  text-decoration: none;
  background-color: var(--overlay-bg-color);
}
.card-set__link:hover .card-wrap__text, .card-set__link:focus .card-wrap__text {
  transform: translateY(0);
}

.card-cont {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
  padding-right: 24px;
  height: 146px;
}
@media screen and (min-width: 1200px) {
  .card-cont {
    height: 110px;
  }
}

.card-cont__title {
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.card-cont__text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */