.clients {
  display: flex;
  justify-content: center;
}

.clients__item {
  width: 170px;
  height: 92px;

  &:not(:first-child) {
    margin-left: 30px;
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  transition-property: color, background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;

  color: var(--regulars-clients-color);
  border: 1px solid var(--regulars-clients-color);
  border-radius: 4px;

  &:hover,
  &:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.clients__icon {
  fill: currentColor;
}
