.team {
    @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}


.team__item {
    box-shadow: var(--card-shadow);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    @media screen and (max-width: 767px) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 1 * 30px ) / 2);
        margin-top: 0;
    }

}

.team__container {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--primary-bg-color);
}

.team__title {
    color: var(--tittle-text-color);
    @include font(16px, 500, 19px, 0.03em);
    margin-bottom: 10px;
}

.team__text {
    color: var(--primary-text-color);
    @include font(16px, null, 19px, 0.03em);
    margin-bottom: 16px;
}