body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    color: var();
    font-size: 14px;
    line-height: 1.71;
}

body.modal-open {
    overflow: hidden;
}

address {
    font-style: normal;
}




